.welcome-img {
    width: 100%;
    border-radius: 3em;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    grid-column: span 2;
    max-width: 900px;
    margin: 24px;
    justify-self: center;
}

@media (max-width: 600px) {
    .welcome {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 0;
    }
}

.welcome-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.welcome-content > h2 {
    font-size: 64px;
    font-weight: 500;
}

.welcome-content > p {
    font-weight: 300;
}

.welcome-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.welcome-button {
    background-color: #efefef;
    box-shadow: none;
    padding: 0.8em 1.6em;
    border: none;
    border-radius: 0.5em;
    font-size: 18px;
}

.welcome-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

#demo-button {
    grid-column: span 2;
}

.welcome-modal-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}