.sidebar {
    background-color: #f8f8f8;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}


.sidebar > h1 {
    font-weight: 600;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    gap: 2em;
    width: 100%;
}

.sidebar-item {
    display: flex;
    padding: 1em 2em;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.sidebar-item:hover {
    transform: translateX(10px);
    transition: transform 0.1s;
}


@media (max-width: 600px) {
    .sidebar {
        flex-direction: row;
        padding-top: 0;
        width: 100vw;
    }

    .sidebar > h1 {
        display: none;
    }

    .sidebar-item {
        padding: 0;
    }

    .links {
        flex-direction: row;
        justify-content: flex-end;
        gap: 24px;
        margin: 0 12px 0 0;

    }
}