@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#root {
    font-family: "Inter", sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr 6fr;
}